.end-all{
    background-color: #00B14F;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin-top: -3%; /* Sử dụng vw cho phần margin-top */
    padding-left: 10%; /* Sử dụng vw cho padding */
    padding-right: 10%; /* Sử dụng vw cho padding */
    padding-bottom: 5%; 
    
}
.e0{
    font-size:2.6vw;
    padding-top: 1%;
    font-weight: bold;
}
.e1{
    display: flex;
    font-size: 1.2vw;
}

#hang1{
    padding-right: 15%; 
}


.e2{
    display: flex;
    font-size: 1.2vw;
}
#hang2_1{
    padding-right: 18.5%;
}

#hang2_2{
    padding-right: 17.5%;
}
.e3{
    font-size: 1.2vw;
}
.e4{
    display: inline;
}
#ggplays{
    width: 15%;
    height: 10%;
    margin-left: 5%;
}
#appstores{
    width: 13.5%;
    height: 10%;
}