.check-all {
    padding-top: 12%; /* Sử dụng vh cho padding-top */
    padding-bottom: 5%; /* Sử dụng vh cho padding-bottom */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.top{
   
}
#top1_1{
    font-size: 2.6vw; /* Sử dụng vw cho font-size */
    font-weight: bold;
    margin-left: 20%;
    margin-top: 1%;

}
#top1_2{
    font-size: 1.3vw; /* Sử dụng vw cho font-size */
    font-weight: bold;
    margin-left: 20%;
    margin-top: -2%;
}

.final-all{
    background-color: whitesmoke;
    padding-top: 2%;
    padding-bottom: 2%;
}
.final2{
    background-color: white;
    margin-left: 20%;
    margin-right: 20%;
    padding: 2%;
}
.final3{
    background-color: white;
    margin-left: 20vw; /* Sử dụng vw cho margin-left */
    margin-right: 20vw; /* Sử dụng vw cho margin-right */
    padding: 2%; /* Sử dụng vh cho padding-bottom */
    margin-top: 3vh;
}
#giao{
    font-weight: bold;
    font-size: 1.8vw; /* Sử dụng vw cho font-size */
    text-align: center;
    
}
#delivery {
    font-weight: lighter;
    font-size: 1.2vw; /* Sử dụng vw cho font-size */
    padding-left: 2vw; /* Sử dụng vw cho padding-left */
}

#min {
    font-size: 1.2vw; /* Sử dụng vw cho font-size */
    padding-left: 2vw; /* Sử dụng vw cho padding-left */
    margin-top: -1vh; /* Sử dụng vh cho margin-top */
}
.final-mide{
    display: flex;
}
.left-final{
    width: 25%;
    height: 25%;
    margin-top: 2vw;
    margin-right: 1.5vw;
}
#ct{
    font-weight: lighter;
    font-size: 1.1vw; /* Sử dụng vw cho font-size */
    padding-left: 1vw;
}
#at{
    font-size: 1.1vw; /* Sử dụng vw cho font-size */
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 3vh; /* Sử dụng vh cho height */
    width: 28vw; /* Sử dụng vw cho width */
    font-weight: lighter;
    padding: 1vw; /* Sử dụng vw cho padding */
}
#diachi{
    height: 3vh; /* Sử dụng vh cho height */
    width: 30vw; /* Sử dụng vw cho width */
    padding: 1vw; 
    font-size: 1.2vw;
}

.final3_1{
    display: flex;
}

#tru {
    color: darkcyan;
    font-size: 2vw; /* Sử dụng vw cho font-size */
    padding-right: 1.2vw; /* Sử dụng vw cho padding-right */
    margin-top: -0.1vh; /* Sử dụng vh cho margin-top */
}

#plus {
    color: darkcyan;
    font-size: 2vw; /* Sử dụng vw cho font-size */
    padding-left: 1vw; /* Sử dụng vw cho padding-left */
    margin-top: 15%; /* Sử dụng vh cho margin-top */
}

#num {
    font-size: 1.4vw; /* Sử dụng vw cho font-size */
    padding-right: 0.5vw; /* Sử dụng vw cho padding-right */
}
.sl{
    display: flex;
    margin-top: -1vh;
}
#imgfood-final{
    width: 5vw; /* Sử dụng vw cho width */
    height: 5vw; /* Sử dụng vw cho height */
    margin-left: 1vw; /* Sử dụng vw cho margin-left */
    margin-top: -1vh;
}
#namefoodfinal{
    margin-left: 2vh;
    font-size: 1.4vw;
}
#cb{
    margin-left: 9.5vh;
    font-size: 1.4vw;
    color: darkred;
    font-weight: bold;
}
.h1{
    display: flex;
    font-size: 1.2vw;
}
.h2{
    display: flex;
    font-size: 1.2vw;
}
#p1{
    margin-left:38vw;
}
#p2{
    margin-left:39.2vw;
 }

 .final4{
    background-color: white;
    margin-left: 20vw; /* Sử dụng vw cho margin-left */
    margin-right: 20vw; /* Sử dụng vw cho margin-right */
    padding: 2%;
    margin-top: 3vh;
 }
 .final5{
    background-color: white;
    margin-left: 20vw; /* Sử dụng vw cho margin-left */
    margin-right: 20vw; /* Sử dụng vw cho margin-right */
    padding: 2%; /* Sử dụng vw cho padding-right */
    margin-top: 3vh;
    
 }
 #cash{
    font-weight: lighter;
    margin-left: 2%;
    font-size: 1.6vw;
 }
 #ew{
    font-size: 1.2vw;
    flex: 6;
    margin-left: 2%;
 }
 .pt_cash{
    display: flex;
    border: 1px solid #ccc;
    width: 50%;
    border-radius: 5px;
    margin-left: 2%;
    align-items: center;
 }
 #img_cash{
    flex: 1;
 }
 .final5_1{
    display: flex;
    
    height: 5%;
 }
#cv{
    background-color:gray ;
    font-size: 1vw; /* Sử dụng phần trăm cho font-size để nó thích ứng với kích thước màn hình */
    color: white;
    display: inline;
    padding: 2%;
    border-radius: 5px;
    margin-left: 1vw; /* Sử dụng phần trăm cho margin để nó thích ứng với kích thước màn hình */
    margin-top: 1vw; /* Sử dụng phần trăm cho margin để nó thích ứng với kích thước màn hình */
    cursor: pointer;
}
#promotion{
    font-size: 1.2vw;
    margin-left: 15%;
    width: 60%;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.bottom{
    display: flex;
}
.total{
   font-size: 1.6vw;
   margin-left: 20%;
}
.datdon{
    background-color:#00B14F ;
    font-size: 1.4vw; /* Sử dụng phần trăm cho font-size để nó thích ứng với kích thước màn hình */
    color: white;
    height: 30%;
    text-align: center;
    width: 20%;
    border-radius: 5px;
    margin-left: 32%;
    margin-top: 3.5%;
    cursor: pointer;
}
#gia_94{
   font-weight: bold;
   margin-top: -10%;
}
