.home-all{
    position: relative;
}
.tox{
    margin-top: 2%;
    font-size: 1.8vw;
    font-weight: bold;
    display: flex;
    margin-left: 18%;
}

#searchBox{
    margin-top: 8%;
    margin-bottom: 3%;
    margin-left: 18%;
    width:63%;
    padding: 1%;
    height: 10%;
    font-size: 1vw;
    background-color:whitesmoke;
    border-radius: 5px;
    border: 1px solid white; 
}
.re-head{
    display: flex;
    margin-left:18%;
    margin-right: 16%;
}
#near1{
    position: absolute;
    z-index: 1;
    color:white;
    font-size: 1.2vw;
    margin-top: 3%;
    margin-left: 4.5%;
}
#img-re-near{
    width:80%;
    filter: brightness(50%);
}
.list-food{
    cursor: pointer;
}